.hacker {
  position: absolute;
  width: 250px;
  height: 200px;
  left: 5%;
  margin-bottom: 50px;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #6D32A8;
  margin: 0;
  padding: 0;
}
.about{
  justify-content:center;
  align-items: center;
  position: relative;
  padding: 7px;
  background-color: #4B1E6F;
  margin:0px;
  width: 103%;
  color: whitesmoke;
}
.header{
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding:4px;
  width: 104%;
}
.footer{
 justify-content:bottom;
  align-items: center;
  position: relative;
  padding: 7px;
  background-color: #4B1E6F;
  margin:0px;
  width: 103%;
  color: whitesmoke;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
.fa-solid {
    position: absolute;
    top: 25px; 
    left: 0%;
    font-size: 24px;
    color: white;
}
.text{
  color: ghostwhite;
  position: relative;
  margin: px;
  padding: 70px;
  top: 37px; 
  left: 40%;
  max-width: 50%;
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  padding: 1%;
}
.logo{
  position: relative;
  top: 205px; 
  left: 0%;
  font-size: 24px;
  color: ghostwhite;
  margin: 10px;
  row-gap: 10%;
}