.hacker {
  position: absolute;
  width: 250px;
  height: auto;
  left: 7%;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: mediumpurple;
  margin: 0;
  padding: 0;
}
.about{
  justify-content:center;
  align-items: center;
  position: relative;
  padding: 7px;
  background-color: rebeccapurple;
  margin:0px;
  width: 103%;
  color: whitesmoke;
}
.header{
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding:4px;
  width: 104%;
}
.footer{
 justify-content:bottom;
  align-items: center;
  position: relative;
  padding: 7px;
  background-color: rebeccapurple;
  margin:0px;
  width: 103%;
  color: whitesmoke;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
.fa-solid {
    position: absolute;
    top: 25px; 
    left: 0%;
    font-size: 24px;
    color: white;
}
.text{
  color: ghostwhite;
  position: relative;
  margin: px;
  padding: 70px;
  top: 70px; 
  left: 65%;
  max-width: 50px;
  line-height: 1
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}